[Unit]
Description=FieldTool AP DHCP (wlan0)
After=NetworkManager.service
Requires=NetworkManager.service
Conflicts=dnsmasq.service

[Service]
ExecStart=/usr/sbin/dnsmasq -C /etc/fieldtool/ap-dhcp.conf
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
